<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>About</title>
</head>
<body>
     <header>
        <nav>             
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>                <li><a href="#">Contact</a></li>
                <li><a href="#">Sign up</a></li>
                 <li><a href="#">Login</a></li>
            </ul>
        </nav>
     </header>
           <section class="about">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ipsam inventore, iusto reprehenderit ad deserunt repellendus praesentium repellat accusamus adipisci in expedita iste quos voluptate necessitatibus quaerat beatae cupiditate et!
            A esse, possimus illo id soluta iusto suscipit in tenetur architecto non veritatis asperiores minima pariatur aliquam consequatur officiis ab hic corporis! Ratione voluptas, cupiditate placeat aperiam sequi dolores eos?
            Tenetur repudiandae repellat incidunt facilis molestias voluptatibus iusto ex sed nesciunt esse quibusdam sint vitae tempore laborum, quo amet sapiente laboriosam magni sequi. Ab sapiente quam dignissimos eum quidem officia!
            Ad, itaque quis. Itaque et dolorem veritatis molestiae odit? Perferendis delectus voluptates natus ab, porro doloremque esse vero iusto aut perspiciatis illo fugit eos alias sit? Repellendus culpa voluptate aspernatur!
            Harum assumenda rerum rem! Provident, laboriosam omnis alias cupiditate perspiciatis, eveniet repellat dicta eaque inventore dolor optio illum. Beatae dolore quae quas fugit non aliquid dicta optio, tempore explicabo sint!</p>
        </section>

<footer> SAUTI &copy; 2025 </footer>
</body>
</html>